[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/solarized"]
	path = bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/badwolf"]
	path = bundle/badwolf
	url = https://github.com/sjl/badwolf.git
[submodule "bundle/unimpaired"]
	path = bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/emmet-vim"]
	path = bundle/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "bundle/rainbow_parens"]
	path = bundle/rainbow_parens
	url = https://github.com/kien/rainbow_parentheses.vim
[submodule "bundle/easy-motion"]
	path = bundle/easy-motion
	url = https://github.com/Lokaltog/vim-easymotion
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = https://github.com/edsono/vim-matchit
[submodule "bundle/coffeescript"]
	path = bundle/coffeescript
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/gist"]
	path = bundle/gist
	url = https://github.com/mattn/gist-vim.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/tlib"]
	path = bundle/tlib
	url = https://github.com/tomtom/tlib_vim.git
[submodule "bundle/vim-addon-mw-utils"]
	path = bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/vim-snipmate"]
	path = bundle/vim-snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "bundle/SuperTab"]
	path = bundle/SuperTab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/markdown-mode"]
	path = bundle/markdown-mode
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "bundle/multiple-cursors"]
	path = bundle/multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
	ignore = untracked
[submodule "bundle/vim-snippets"]
	path = bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
	ignore = untracked
[submodule "bundle/smartinput"]
	path = bundle/smartinput
	url = https://github.com/kana/vim-smartinput.git
	ignore = untracked
[submodule "bundle/scss-syntax"]
	path = bundle/scss-syntax
	url = http://github.com/cakebaker/scss-syntax.vim.git
[submodule "bundle/vim-less"]
	path = bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule "bundle/javascript-libraries-syntax.vim"]
	path = bundle/javascript-libraries-syntax.vim
	url = https://github.com/othree/javascript-libraries-syntax.vim
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript
[submodule "bundle/vim-angular"]
	path = bundle/vim-angular
	url = https://github.com/burnettk/vim-angular
	ignore = dirty
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = http://github.com/Valloric/YouCompleteMe.git
[submodule "bundle/tern_for_vim"]
	path = bundle/tern_for_vim
	url = https://github.com/marijnh/tern_for_vim
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = http://github.com/bling/vim-airline.git
[submodule "ag.vim"]
	path = ag.vim
	url = https://github.com/rking/ag.vim
[submodule "bundle/ag.vim"]
	path = bundle/ag.vim
	url = https://github.com/rking/ag.vim
[submodule "bundle/vim-diminactive"]
	path = bundle/vim-diminactive
	url = https://github.com/blueyed/vim-diminactive
[submodule "bundle/typescript-vim"]
	path = bundle/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "bundle/tsuquyomi"]
	path = bundle/tsuquyomi
	url = https://github.com/Quramy/tsuquyomi.git
	ignore = dirty
[submodule "bundle/vimproc.vim"]
	path = bundle/vimproc.vim
	url = https://github.com/Shougo/vimproc.vim.git
