# Media Query Snippets
snippet bb
	@include bp(baby-bear) {
		${1}
	}
snippet mb
	@include bp(mama-bear) {
		${1}
	}
snippet ma
	margin: ${1:1em} ${2:1em} ${3:1em} ${4:1em};
	${5}
snippet pa
	padding: ${1:1em} ${2:1em} ${3:1em} ${4:1em};
	${5}
snippet mauto
	margin: 0 auto;
# Float Left
snippet fl
	float: left;
#Width 100%
snippet w100
	width: 100%;
snippet w25
	width: 25%;
snippet w50
	width: 50%;
snippet hf
	&:hover, &:focus {
		${1}
	}
